body {
    font-family: Arial, sans-serif;
    background: #eef5f2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 420px;
    background: #eef5f2;
}

h2 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#addBtn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

.actions button {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.edit {
    color: green;
}

.complete {
    color: blue;
}

.remove {
    color: red;
}
